<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%p [%t] %c{1}.%M(%L) | %m%n"/>
        </Console>

        <!--        <RollingFile name="RollingFile" fileName="../logs/notify.log"
                             filePattern="../notify/$${date:yyyy-MM}/notify-%d{MM-dd-yyyy}-%i.log.gz">
                    <PatternLayout>
                        <Pattern>%d{ISO8601} %p [%t] %c{1}.%M(%L) | %m%n</Pattern>
                    </PatternLayout>
                    <Policies>
                        <OnStartupTriggeringPolicy/>
                        <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                        <SizeBasedTriggeringPolicy size="5 MB"/>
                    </Policies>
                </RollingFile>-->
    </Appenders>

    <Loggers>
        <Logger name="in.notwork" level="debug"/>

        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
